.extra2 {
    background-image: url('/extra2banner.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.extra2-banner {
    background-color: rgba(0, 0, 0, 0.582);
}

.accBody {
    transition-delay: 2500ms;
}