.chef-container>.chef_picture {
    width: 40%;
    border-radius: .8rem;
    border: 1px solid black;
}

.chef-banner {
    background-image: url('/Chef-banner.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.chef-background {
    background-color: rgba(0, 0, 0, 0.582);
}

.chefRecipe_background {
    background-color: #0e1317b9;
}


@media (max-width: 768px) {
    .chef-container>.chef_picture {
        width: 70%;
    }

}