@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

.training {
    font-family: 'Dancing Script', cursive;
}

.extra1 {
    background-image: url('/masterchef.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.extra1-banner {
    background-color: rgba(0, 0, 0, 0.425);
    color: aliceblue;
}

.award {
    background-color: #0E1317;
    padding: 2rem;
    padding-bottom: 4rem;
    transform: translate(0rem, -5rem);
    transition: transform 2s;
    width: 50%;
    color: aliceblue;
    padding-top: 7rem;
    border-radius: 0px 0px 9rem 9rem;
    border-bottom: 3px solid goldenrod;
}

.trophy {
    text-align: center;
    color: goldenrod;
    font-size: 10rem;
    transform: rotateX(360);

    transition: transform 10s
}

@media (max-width: 768px) {
    .award {
        transform: translate(0rem, 0rem);
        width: 100%;

    }

}