@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');

.banner {
    background-image: url('banner.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;


}

.background {
    background-color: rgba(0, 0, 0, 0.582);
}

.font {
    font-family: 'Kalam', cursive;
}