.banner {
    background-image: url('/banner.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.background {
    background-color: rgba(0, 0, 0, 0.699);
}